<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Web Configuration</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <style>
    table caption {
          font-size: 18px;
    }
  </style>
</head>
<body>
    <div class="row">
       <div class="col-xs-7 col-md-4 table-responsive">
        <table class="table table-bordered">
          <caption>Web Configuration</caption>
          <tbody>
            <tr>
              <td>IP</td>
              <td>{{.Ip}}</td>
            </tr>
            <tr>
              <td>Host</td>
              <td>{{.Host}}</td>
            </tr>
            <tr>
              <td>Port</td>
              <td>{{.Port}}</td>
            </tr>
            <tr>
              <td>Method</td>
              <td>{{.Method}}</td>
            </tr>
            <tr>
              <td>Language</td>
              <td>{{.Language}}</td>
            </tr>
            <tr>
              <td>User-Agent</td>
              <td>{{.UserAgent}}</td>
            </tr>
            <tr>
              <td>Forwarded</td>
              <td>{{.XForwardedFor}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</body>
</html>
